<form action="/result" method="POST">
<p>Your Name: <input type="text" name="name" required></p>
<p>Dojo Location: <select name="location">
    <option value="Arlington">Arlington</option>
    <option value="Boise">Boise</option>
    <option value="Chicago">Chicago</option>
    <option value="Dallas">Dallas</option>
    <option value="LA">LA</option>
    <option value="Oakland">Oakland</option>
    <option value="OC">OC</option>
    <option value="Online">Online</option>
    <option value="San Jose">San Jose</option>
    <option value="Seattle">Seattle</option>
    <option value="Tulsa">Tulsa</option>
</select>
</p>
<p>Favorite Language: <select name="language">
    <option value=".NET/c#">.NET/C#</option>
    <option value="Java">Java</option>
    <option value="Javascript">Javascript</option>
    <option value="Python">Python</option>
</select>
</p>
<p>Comments (optional):</p>
<textarea name="comments" rows="10" cols="60"></textarea><br>
<input type="submit" value="Submit Survey">
</form>