<h3>Submitted Info</h3>
<p>Name: <%= results.name %></p>
<p>Dojo Location: <%= results.location %></p>
<p>Favorite Language: <%= results.language %></p>
<p>Comment: <%= results.comments %></p>
<form action="/">
    <input type="submit" value="Go back!">
</form>