<form action="/">
    <input type="submit" value="Dashboard">
</form>
<form action="/geckos" method="POST">
    <p>Gecko Name: <input type="text" name="name" required></p>
    <p>Age: <input type="text" name="age" required></p>
    <input type="submit" value="Add Gecko">
</form>