<h1>Test</h1>
<p style="font-size: 25;"><%= count %></p>
<form action="/">
    <input type="submit" value="Add One">
</form>
<form action="/addtwo">
    <input type="submit" value="Add Two">
</form>
<form action="/clear">
    <input type="submit" value="Clear Counter">
</form>
