<html>
    <body>
        <a href="/cats/grumpy">
            <img style="height: 300px; width: 300px;" src="/images/grumpy_cat.png">
        </a>
        <a href="/cats/cat2">
            <img style="height: 300px; width: 350px;" src="/images/cat_2.png">
        </a>
    </body>
</html>