<html>
    <body>
        <form>
        <img src="/images/blue_forester.png" alt="">
            First Name:<br>
            <input type="text" name="firstname"><br>
            Last Name:<br>
            <input type="text" name="lastname"><br>
        </form>
    </body>
</html>