<h1>Welcome to QuotingDojo</h1>
<form action="/quotes" method="post">
    <p>Your Name: <input type="text" name="name" required></p>
    <p>Your Quote:</p>
    <textarea name="quote" rows="10" cols="80"></textarea><br>
    <input type="submit" value="Add my quote">
</form>
<form action="/quotes">
    <input type="submit" value="Go to Quotes">
</form>
